Repository MarkWells-Dev/Catenary: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

.pre-commit-config.yaml:

# Pre-commit hooks for Catenary
# Install: pre-commit install
# Run all: pre-commit run --all-files

repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Rust checks
  - repo: local
    hooks:
      - id: cargo-lock-check
        name: cargo lock check
        entry: cargo update --locked
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --quiet
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false

      - id: cargo-test-lib
        name: cargo test lib
        entry: cargo test --lib --quiet
        language: system
        types: [rust]
        pass_filenames: false

  # Docs check (only when docs change)
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        entry: mdbook build docs
        language: system
        pass_filenames: false
        files: ^docs/

fix: ensure diagnostics reflect current file state
  src/bridge/file_tools.rs
  src/bridge/handler.rs
  src/lsp/client.rs
  src/lsp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

docs: add architecture page with diagnostics consistency section
  docs/src/architecture.md
Due: mdbook-build

fix: re-detect languages after write_file creates new file types
  src/bridge/file_tools.rs
  src/bridge/handler.rs
  src/bridge/run_tool.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

test: add write_file language detection integration test and isolate from user config
  src/bridge/run_tool.rs
  tests/cli_integration.rs
  tests/config_integration.rs
  tests/file_tools_integration.rs
  tests/map_integration.rs
  tests/mcp_integration.rs
  tests/monitor_integration.rs
  tests/quickfix_integration.rs
  tests/run_tool_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: Bump version to 1.2.1
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

fix: wait for flycheck to complete before returning diagnostics
  docs/src/architecture.md
  src/bridge/file_tools.rs
  src/bridge/handler.rs
  src/bridge/run_tool.rs
  src/lsp/client.rs
  src/main.rs
  tests/cli_integration.rs
  tests/run_tool_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: Bump version to 1.2.2
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

fix: skip diagnostic wait for servers that never publish diagnostics
  src/lsp/client.rs
  tests/map_integration.rs
  tests/mcp_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

style: rustfmt formatting fixes
  src/bridge/handler.rs
  src/config.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: Bump version to 1.3.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

fix: add toolName to Gemini policy engine rules
  docs/src/cli-integration.md
Due: mdbook-build

docs: update experiment results for policy engine approach
  docs/src/cli-integration.md
Due: mdbook-build

fix: correct root notification handling and fetch_roots race condition
  src/mcp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: remove dead format_tool_output hook
  .claude-plugin/plugins/catenary/hooks/format_tool_output.py
  .claude-plugin/plugins/catenary/hooks/hooks.json
Due: none

feat: add --format=gemini to catenary notify
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

feat: Gemini extension packaging and Claude plugin restructuring
  CONTRIBUTING.md
  Makefile
  README.md
  docs/src/cli-integration.md
  gemini-extension.json
  plugins/catenary/README.md
  plugins/catenary/hooks/hooks.json
  src/mcp/server.rs
  tests/version_sync.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

feat: add sync-roots hook to work around Claude Code /add-dir bug
  CONTRIBUTING.md
  gemini-extension.json
  plugins/catenary/hooks/hooks.json
  src/bridge/path_security.rs
  src/main.rs
  src/notify.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: update Cargo.lock
  Cargo.lock
Due: cargo-lock-check

chore: Bump version to 1.3.1
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

chore: use PATH binary instead of bundled binary in plugin/extension hooks
  gemini-extension.json
  plugins/catenary/README.md
  plugins/catenary/hooks/hooks.json
Due: none

chore: Bump version to 1.3.2
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

fix: move Gemini CLI hooks to hooks/hooks.json
  gemini-extension.json
  hooks/hooks.json
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

docs: add plugin architecture reference
  docs/src/SUMMARY.md
  docs/src/plugin-architecture.md
Due: mdbook-build

fix: resolve clippy violations breaking CI
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: Bump version to 1.3.3
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

feat: cross-platform IPC (Unix sockets + Windows named pipes)
  src/lib.rs
  src/main.rs
  src/notify.rs
  src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

style: rustfmt
  src/main.rs
  src/notify.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: Bump version to 1.3.4
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

feat: show diagnostics events in catenary monitor
  src/main.rs
  src/notify.rs
  src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

feat: file locking for concurrent agent coordination
  .pre-commit-config.yaml
  Makefile
  docs/src/plugin-architecture.md
  hooks/hooks.json
  plugins/catenary/hooks/hooks.json
  src/lib.rs
  src/lock.rs
  src/main.rs
  src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

fix: robust diagnostics wait with nudge-and-retry for slow LSP servers
  docs/src/lsp-fault-model.md
  src/bridge/handler.rs
  src/lsp/client.rs
  src/lsp/mod.rs
  src/notify.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: Bump version to 1.3.5
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

chore: quiet cargo deny and nextest output in check target
  Makefile
Due: none

docs: fix gemini install command and add architecture context to AGENTS.md
  AGENTS.md
  docs/src/cli-integration.md
  docs/src/plugin-architecture.md
Due: mdbook-build

docs: clarify that plugins/extensions require the catenary binary on PATH
  README.md
  docs/src/installation.md
  plugins/catenary/README.md
Due: mdbook-build

fix: switch docs deployment to gh-pages branch to eliminate downtime
  .github/workflows/docs.yml
Due: none
