Repository MarkWells-Dev/Catenary: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, make-check, mdbook-build

cargo-lock-check:
  name: cargo lock check
  entry: cargo update --locked
  language: system
  pass_filenames: false

make-check:
  name: make check
  entry: make check
  language: system
  pass_filenames: false

mdbook-build:
  name: mdbook build
  entry: mdbook build docs
  language: system
  pass_filenames: false

docs: fix edit URL template and getting started install instructions
  docs/book.toml
  docs/src/README.md
Due: mdbook-build

deploy: 0d6ec279b200825e6e5535f81cdb68b597469b9f
  404.html
  adversarial-testing.html
  ai-agents.html
  architecture.html
  archive/cli-design.html
  cli-integration.html
  configuration.html
  index.html
  installation.html
  lsp-fault-model.html
  lsp/index.html
  overview.html
  plugin-architecture.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-292320ca.js
  searchindex-903f9c09.js
Due: none

docs: use owner/repo shorthand for plugin marketplace add, fix stale extension name
  README.md
  docs/src/README.md
  docs/src/cli-integration.md
  plugins/catenary/README.md
Due: mdbook-build

deploy: 6af6de10d2adc073eed05908e603cd52e5dc7ae0
  404.html
  adversarial-testing.html
  ai-agents.html
  architecture.html
  archive/cli-design.html
  cli-integration.html
  configuration.html
  index.html
  installation.html
  lsp-fault-model.html
  lsp/index.html
  overview.html
  plugin-architecture.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-292320ca.js
  searchindex-7fe40b13.js
Due: none

fix: stale-read false positive after self-edit and search index not pruned on root removal
  docs/src/plugin-architecture.md
  hooks/hooks.json
  plugins/catenary/hooks/hooks.json
  src/lock.rs
  src/main.rs
  src/notify.rs
Due: make-check, mdbook-build

deploy: a98f67a143281138c3b324f8189967feec563cef
  404.html
  adversarial-testing.html
  ai-agents.html
  architecture.html
  archive/cli-design.html
  cli-integration.html
  configuration.html
  index.html
  installation.html
  lsp-fault-model.html
  lsp/index.html
  overview.html
  plugin-architecture.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-1846ba62.js
  searchindex-7fe40b13.js
Due: none

chore: Bump version to 1.3.6
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

fix: post-edit diagnostics not delivered to Claude Code agents
  AGENTS.md
  Makefile
  src/lsp/client.rs
  src/lsp/mod.rs
  src/main.rs
  tests/json_diagnostics_integration.rs
Due: make-check

docs: add plugin update instructions for Claude Code
  docs/src/plugin-architecture.md
Due: mdbook-build

feat: add version reporting via git describe (closes #21)
  build.rs
  src/bridge/handler.rs
  src/main.rs
  src/mcp/server.rs
Due: make-check

deploy: b4ec5cddd61184e99331b4ec9ea476a5c99c77c5
  404.html
  adversarial-testing.html
  ai-agents.html
  architecture.html
  archive/cli-design.html
  cli-integration.html
  configuration.html
  index.html
  installation.html
  lsp-fault-model.html
  lsp/index.html
  overview.html
  plugin-architecture.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-1846ba62.js
  searchindex-5977e505.js
Due: none

feat: add hook health checks to `catenary doctor`
  build.rs
  src/main.rs
Due: make-check

docs: add smoke testing procedures for doctor hook checks
  docs/src/SUMMARY.md
  docs/src/smoke-testing.md
Due: mdbook-build

fix: wait for file analysis after didOpen before querying
  src/bridge/handler.rs
  tests/assets/yaml/settings.yaml
  tests/lsp_integration.rs
  tests/mcp_integration.rs
Due: make-check

feat: add mockls configurable mock LSP server for testing
  Cargo.toml
  docs/src/SUMMARY.md
  docs/src/mockls.md
  src/bin/mockls.rs
  src/lsp/client.rs
  src/lsp/manager.rs
  src/main.rs
  tests/lsp_integration.rs
  tests/mcp_integration.rs
Due: cargo-lock-check, make-check, mdbook-build

feat: replace diagnostics nudge loops with strategy-based wait
  CONTRIBUTING.md
  README.md
  docs/src/cli-integration.md
  docs/src/plugin-architecture.md
  hooks/hooks.json
  plugins/catenary/hooks/hooks.json
  src/bin/mockls.rs
  src/bridge/handler.rs
  src/lsp/client.rs
  src/lsp/diagnostics.rs
  src/lsp/mod.rs
  src/lsp/state.rs
  src/main.rs
  src/notify.rs
  tests/diagnostics_strategy_integration.rs
Due: make-check, mdbook-build

feat: unify hooks into `catenary acquire` / `catenary release`
  AGENTS.md
  Makefile
  README.md
  docs/src/ai-agents.md
  docs/src/architecture.md
  docs/src/cli-integration.md
  docs/src/lsp-fault-model.md
  docs/src/mockls.md
  docs/src/overview.md
  docs/src/plugin-architecture.md
  hooks/hooks.json
  plugins/catenary/hooks/hooks.json
  src/bin/mockls.rs
  src/lsp/client.rs
  src/lsp/mod.rs
  src/main.rs
  src/notify.rs
  tests/diagnostics_strategy_integration.rs
Due: make-check, mdbook-build

fix: stabilize monitor and issue_3 integration tests
  tests/issue_3_integration.rs
  tests/monitor_integration.rs
Due: make-check

feat: monitor tool labels and list two-line layout
  src/cli.rs
  src/main.rs
  src/session.rs
  tests/cli_integration.rs
Due: make-check

chore: run cargo update automatically in make release
  AGENTS.md
  Makefile
Due: none

deploy: 8d64de32975189eb90b1cb28f47f246a4656c303
  404.html
  adversarial-testing.html
  architecture.html
  archive/cli-design.html
  cli-integration.html
  configuration.html
  index.html
  installation.html
  lsp-fault-model.html
  lsp/index.html
  mockls.html
  overview.html
  plugin-architecture.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-5977e505.js
  searchindex-7e0df5cd.js
  smoke-testing.html
  toc-9c5e5c2a.js
  toc.html
Due: none

chore: Bump version to 1.4.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  gemini-extension.json
Due: cargo-lock-check

fix(ci): build binary targets so mockls is available for lib tests
  .github/workflows/ci.yml
Due: none

fix(ci): build binaries before running lib tests for mockls availability
  .github/workflows/ci.yml
Due: none

Path conditions:
  cargo-lock-check: any of: ^Cargo\.(toml|lock)$
  make-check: any of: \.rs$
  mdbook-build: any of: ^docs/
