Repository MarkWells-Dev/Catenary: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

cargo-lock-check:
  name: cargo lock check
  entry: cargo update --locked
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --quiet
  language: system
  pass_filenames: false

cargo-test-lib:
  name: cargo test lib
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

mdbook-build:
  name: mdbook build
  entry: mdbook build docs
  language: system
  pass_filenames: false

chore: bump version to 0.6.2
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

fix: wait for LSP analysis completion in diagnostics (#3)
  .claude-plugin/marketplace.json
  .github/workflows/docs.yml
  Cargo.lock
  Cargo.toml
  docs/book.toml
  docs/src/README.md
  docs/src/SUMMARY.md
  docs/src/ai-agents.md
  docs/src/archive/cli-design.md
  docs/src/cli-integration.md
  docs/src/configuration.md
  docs/src/installation.md
  docs/src/lsp/README.md
  docs/src/lsp/css-html-json.md
  docs/src/lsp/go.md
  docs/src/lsp/javascript.md
  docs/src/lsp/julia.md
  docs/src/lsp/markdown.md
  docs/src/lsp/php.md
  docs/src/lsp/python.md
  docs/src/lsp/rust.md
  docs/src/lsp/shell.md
  docs/src/lsp/termux.md
  docs/src/lsp/typescript.md
  docs/src/overview.md
  docs/src/roadmap.md
  experiments/cli-integration/README.md
  experiments/cli-integration/claude_findings.md
  experiments/cli-integration/findings.md
  experiments/cli-integration/run.sh
  src/bridge/handler.rs
  src/lsp/client.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

test: verify issue #3 and address documentation debt
  docs/src/overview.md
  src/bridge/document_manager.rs
  src/bridge/handler.rs
  src/bridge/mod.rs
  src/cli.rs
  src/config.rs
  src/lib.rs
  src/lsp/client.rs
  src/lsp/manager.rs
  src/lsp/mod.rs
  src/lsp/protocol.rs
  src/lsp/state.rs
  src/main.rs
  src/mcp/mod.rs
  src/mcp/server.rs
  src/mcp/types.rs
  src/session.rs
  tests/issue_3_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: bump version to 0.6.4 and enforce strict workspace lints
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  src/bridge/document_manager.rs
  src/bridge/handler.rs
  src/cli.rs
  src/config.rs
  src/lsp/client.rs
  src/lsp/manager.rs
  src/lsp/protocol.rs
  src/lsp/state.rs
  src/main.rs
  src/mcp/server.rs
  src/mcp/types.rs
  src/session.rs
Due: cargo-lock-check, cargo-fmt, cargo-clippy, cargo-test-lib

docs: establish centralized AI agent context with AGENTS.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

feat: enhance language detection, add project-local config and JSON schema
  catenary-config.schema.json
  docs/src/configuration.md
  src/bridge/document_manager.rs
  src/config.rs
  tests/lsp_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

docs: add release workflow instructions to AGENTS.md
  AGENTS.md
Due: none

chore: Bump version to 0.6.5
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

test: refactor all tests to adhere to strict error handling standards
  src/bridge/document_manager.rs
  src/bridge/handler.rs
  src/lsp/protocol.rs
  src/lsp/state.rs
  src/mcp/server.rs
  src/mcp/types.rs
  src/session.rs
  tests/cli_integration.rs
  tests/config_integration.rs
  tests/issue_3_integration.rs
  tests/lsp_integration.rs
  tests/map_integration.rs
  tests/mcp_integration.rs
  tests/monitor_integration.rs
  tests/quickfix_integration.rs
  tests/version_sync.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

test: final clippy fixes for integration tests
  tests/cli_integration.rs
  tests/monitor_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: Bump version to 0.6.6
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

refactor: simplify tool names and add symbol-based input
  README.md
  docs/src/ai-agents.md
  docs/src/cli-integration.md
  docs/src/lsp/markdown.md
  docs/src/overview.md
  docs/src/roadmap.md
  experiments/cli-integration/README.md
  experiments/cli-integration/claude_findings.md
  experiments/cli-integration/findings.md
  src/bridge/handler.rs
  src/mcp/server.rs
  src/mcp/types.rs
  tests/config_integration.rs
  tests/issue_3_integration.rs
  tests/map_integration.rs
  tests/mcp_integration.rs
  tests/quickfix_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

feat: add MCP roots/list support for mid-session workspace changes
  TODO.md
  docs/src/SUMMARY.md
  docs/src/adversarial-testing.md
  docs/src/lsp-fault-model.md
  docs/src/roadmap.md
  src/bridge/handler.rs
  src/lsp/client.rs
  src/lsp/manager.rs
  src/main.rs
  src/mcp/mod.rs
  src/mcp/server.rs
  src/mcp/types.rs
  tests/lsp_integration.rs
  tests/map_integration.rs
  tests/mcp_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: Bump version to 0.7.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
  docs/src/roadmap.md
Due: cargo-lock-check, mdbook-build

feat: Phase 6.5 hardening — remove apply_workspace_edit, add error attribution, search tool
  AGENTS.md
  Makefile
  docs/src/adversarial-testing.md
  docs/src/ai-agents.md
  docs/src/cli-integration.md
  docs/src/configuration.md
  docs/src/lsp-fault-model.md
  docs/src/overview.md
  docs/src/roadmap.md
  src/bridge/handler.rs
  src/lsp/client.rs
  src/lsp/manager.rs
  tests/lsp_integration.rs
  tests/mcp_integration.rs
  tests/quickfix_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: Bump version to 0.8.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

feat: Phase 7 — file I/O, shell execution, and path security
  README.md
  catenary-config.schema.json
  docs/src/adversarial-testing.md
  docs/src/ai-agents.md
  docs/src/cli-integration.md
  docs/src/configuration.md
  docs/src/lsp-fault-model.md
  docs/src/overview.md
  docs/src/roadmap.md
  plugins/catenary/config.example.toml
  src/bridge/document_manager.rs
  src/bridge/file_tools.rs
  src/bridge/handler.rs
  src/bridge/mod.rs
  src/bridge/path_security.rs
  src/bridge/run_tool.rs
  src/config.rs
  src/lsp/manager.rs
  src/main.rs
  src/mcp/server.rs
  src/mcp/types.rs
  tests/file_tools_integration.rs
  tests/run_tool_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: update Cargo.lock
  Cargo.lock
Due: cargo-lock-check

chore: Bump version to 1.0.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

fix: MCP compatibility with Gemini CLI
  src/mcp/server.rs
  src/mcp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

feat: Run tool v2 — cwd, stdin, output_file, command splitting, timeout coercion
  TODO.md
  src/bridge/file_tools.rs
  src/bridge/handler.rs
  src/bridge/run_tool.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

feat: display hooks for Claude Code
  .claude-plugin/plugins/catenary/hooks/format_tool_output.py
  .claude-plugin/plugins/catenary/hooks/hooks.json
  .claude/hooks/format-edit.py
  README.md
  docs/src/ai-agents.md
Due: mdbook-build

ci: add CLA workflow for contributors
  .github/CLA.md
  .github/cla-signatures.json
  .github/workflows/cla.yml
Due: none

chore: housekeeping
  .gitignore
  AGENTS.md
  docs/src/overview.md
Due: mdbook-build

docs: add known limitations section to README
  README.md
Due: none

docs: add recommended run tool allowlist for constrained mode
  docs/src/configuration.md
Due: mdbook-build

fix: stabilize monitor tail by clearing BufReader EOF state
  src/session.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

fix: symbol-only tool calls now wait for LSP readiness
  src/bridge/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

feat: batch mode for search tool
  src/bridge/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: fix clippy warnings across all targets
  src/bridge/path_security.rs
  src/bridge/run_tool.rs
  src/mcp/server.rs
  src/mcp/types.rs
  tests/file_tools_integration.rs
  tests/mcp_integration.rs
  tests/run_tool_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

chore: Bump version to 1.1.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

docs: replace ASCII diagram with mermaid in README
  README.md
Due: none

docs: make Catenary block taller in mermaid diagram
  README.md
Due: none

feat: eager server startup, search rework, workspace/configuration support
  .claude-plugin/plugins/catenary/hooks/format_tool_output.py
  src/bridge/file_tools.rs
  src/bridge/handler.rs
  src/config.rs
  src/lsp/client.rs
  src/lsp/manager.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib

feat: denied subcommand list for run tool
  catenary-config.schema.json
  docs/src/ai-agents.md
  docs/src/configuration.md
  docs/src/overview.md
  docs/src/roadmap.md
  plugins/catenary/config.example.toml
  src/bridge/run_tool.rs
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

chore: Bump version to 1.2.0
  .claude-plugin/marketplace.json
  Cargo.lock
  Cargo.toml
Due: cargo-lock-check

refactor: search uses Option for workspace symbols, docs fixes
  docs/src/SUMMARY.md
  docs/src/lsp-fault-model.md
  src/bridge/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-test-lib, mdbook-build

Path conditions:
  cargo-lock-check: any of: ^Cargo\.(toml|lock)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-lib: any of: \.rs$
  mdbook-build: any of: ^docs/
